<f:asset.css identifier="main" href="EXT:rlt3_fluid_package/Resources/Public/Css/style.css" />

<f:render partial="Header" arguments="{_all}"/>

<!-- Our page's main content -->
<main>
    <f:render section="Main"/>
</main>

<!-- the aside content can also be nested within the main content -->
<f:render partial="Aside" arguments="{_all}"/>

<!-- The footer that is used across all the pages of our website -->
<f:render partial="Footer" arguments="{_all}"/>

<!--<f:asset.script identifier="main" src="EXT:rlt3_fluid_package/Resources/Public/JavaScript/main.js" />-->
