<header role="banner">
    <f:link.page pageUid="{site.rootPageId}"
                 class="logo"
                 tabindex="-1"
                 title="back to the main page">
        <f:image src="{settings.SitePackage.logo}" alt="{settings.SitePackage.logo-alt}" />
    </f:link.page>
    <h1 class="site-name">
        <f:link.page pageUid="{site.rootPageId}"
                     title="back to the main page">
            {site.pageTitle}
        </f:link.page>
    </h1>
    <p class="site-description">Design 001</p>

    <!-- Main navigation bar inside header -->
    <f:render partial="Navigation/Menu" arguments="{_all}"/>

    <!-- A Search form: another common non-linear way to navigate through a site. -->
    <f:render partial="Navigation/Search" arguments="{_all}"/>

</header>
